# copy or rename this file to env.cmake to store local configuration
# set device
#set( DEVICE "5.0i" )

# set cross compiler prefix
#set( CROSS_COMPILE "C:/Program\ Files/arm-none-eabi/bin/arm-none-eabi-" )
#set( CROSS_COMPILE "arm-none-eabi-" )
